<div class="bg-success text-white d-flex justify-content-between">
  <h3 class="pl-3"><%= @room.name %></h3>
  <p class="ml-4"><%= @room.introduction %></p>
  <%= render 'favorites/favorite_button', room: @room %>
</div>

<div class="border border-dark border-top-0 p-5 overflow-auto" style="height:500px">
  <%= render 'posts/posts', posts: @posts %>
</div>


  <div class="row text-right mt-3">
    <div class="col-sm-12">
      <div class="form-group">
        <%= form_with(model: @post, local: true) do |f| %>
        
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
            <%= f.hidden_field :user_id, :value => session[:user_id] %>
            <%= f.hidden_field :room_id, :value => params[:id] %>          
            <%= f.text_area :content, class: 'form-control', placeholder: "メッセージを入力", rows: 5%>
            <%= f.submit 'Post', class: 'btn btn-success' %>
        <% end %>
      </div>
  </div>
</div>